<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangdong.business.mapper.FdHotRegionMapper">
  <resultMap id="BaseResultMap" type="com.fangdong.business.model.FdHotRegion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="hot_region_name" jdbcType="VARCHAR" property="hotRegionName" />
    <result column="hot_region_type" jdbcType="VARCHAR" property="hotRegionType" />
  </resultMap>
    <resultMap id="VoResultMap" type="com.fangdong.business.model.HotRegionVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="hot_region_name" jdbcType="VARCHAR" property="hotRegionName" />
    <result column="hot_region_type" jdbcType="VARCHAR" property="hotRegionType" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, region_id, hot_region_name, hot_region_type
  </sql>
  <select id="selectByExample" parameterType="com.fangdong.business.model.FdHotRegionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_hot_region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fd_hot_region
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllHotRegion"  resultMap="VoResultMap">
	SELECT
	hr.hot_region_name,
	hr.hot_region_type,
	hr.id,
	hr.region_id,
	r.region_name as 'region_name'
	FROM
	fd_hot_region hr
	left join fd_region r on hr.region_id=r.id
  </select>
  <select id="selectHotRegionById"  resultMap="VoResultMap">
	SELECT
	hr.hot_region_name,
	hr.hot_region_type,
	hr.id,
	hr.region_id,
	r.region_name as 'region_name'
	FROM
	fd_hot_region hr
	left join fd_region r on hr.region_id=r.id
	WHERE
	hr.id=#{id,jdbcType=INTEGER}
  </select>
  <select id="selectHotRegionByDistrictId" parameterType="int" resultMap="VoResultMap">
  	select
  	hr.hot_region_name,
	hr.hot_region_type,
	hr.id,
	hr.region_id,
	r1.region_name as 'region_name'
	from fd_hot_region hr
	left join fd_region r1 on r1.id=hr.region_id
	left join fd_region r2 on r2.id=r1.parent_reg_id
	where r2.id=#{districtId}
	
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fd_hot_region
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangdong.business.model.FdHotRegionExample">
    delete from fd_hot_region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangdong.business.model.FdHotRegion">
    insert into fd_hot_region (id, region_id, hot_region_name, 
      hot_region_type)
    values (#{id,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, #{hotRegionName,jdbcType=VARCHAR}, 
      #{hotRegionType,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.fangdong.business.model.FdHotRegion">
    insert into fd_hot_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="hotRegionName != null">
        hot_region_name,
      </if>
      <if test="hotRegionType != null">
        hot_region_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="hotRegionName != null">
        #{hotRegionName,jdbcType=VARCHAR},
      </if>
      <if test="hotRegionType != null">
        #{hotRegionType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangdong.business.model.FdHotRegionExample" resultType="java.lang.Integer">
    select count(*) from fd_hot_region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fd_hot_region
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.regionId != null">
        region_id = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.hotRegionName != null">
        hot_region_name = #{record.hotRegionName,jdbcType=VARCHAR},
      </if>
      <if test="record.hotRegionType != null">
        hot_region_type = #{record.hotRegionType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fd_hot_region
    set id = #{record.id,jdbcType=INTEGER},
      region_id = #{record.regionId,jdbcType=INTEGER},
      hot_region_name = #{record.hotRegionName,jdbcType=VARCHAR},
      hot_region_type = #{record.hotRegionType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangdong.business.model.FdHotRegion">
    update fd_hot_region
    <set>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="hotRegionName != null">
        hot_region_name = #{hotRegionName,jdbcType=VARCHAR},
      </if>
      <if test="hotRegionType != null">
        hot_region_type = #{hotRegionType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangdong.business.model.FdHotRegion">
    update fd_hot_region
    set region_id = #{regionId,jdbcType=INTEGER},
      hot_region_name = #{hotRegionName,jdbcType=VARCHAR},
      hot_region_type = #{hotRegionType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>