<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangdong.business.mapper.FdSubwayRegionMapper" >
  <resultMap id="BaseResultMap" type="com.fangdong.business.model.FdSubwayRegion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subway_id" property="subwayId" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.fangdong.business.model.SubwayRegionVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subway_id" property="subwayId" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="subwayName" property="subwayName" jdbcType="VARCHAR" />
    <result column="regionName" property="regionName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, subway_id, region_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fangdong.business.model.FdSubwayRegionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_subway_region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fd_subway_region
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSubwayRegionBySubwayId" resultMap="VoResultMap" parameterType="java.lang.Integer" >
	SELECT
	fsr.id,
	fsr.region_id,
	fsr.subway_id,
	s.subway_name as 'subwayName',
	r.region_name as 'regionName'
	FROM
	fd_subway_region fsr
	LEFT JOIN fd_region r on r.id=fsr.region_id
	LEFT JOIN fd_subway s on s.id=fsr.subway_id
	WHERE
	fsr.subway_id =#{subwayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_subway_region
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangdong.business.model.FdSubwayRegionExample" >
    delete from fd_subway_region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <delete id="deleteBySubwayRegionId" parameterType="int">
  	delete from fd_subway_region sr
  	<if test="_parameter != null">
  		where sr.subway_id=#{id}
  	</if>
  </delete>
  <insert id="insert" parameterType="com.fangdong.business.model.FdSubwayRegion" >
    insert into fd_subway_region (id, subway_id, region_id
      )
    values (#{id,jdbcType=INTEGER}, #{subwayId,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangdong.business.model.FdSubwayRegion" >
    insert into fd_subway_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subwayId != null" >
        subway_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subwayId != null" >
        #{subwayId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangdong.business.model.FdSubwayRegionExample" resultType="java.lang.Integer" >
    select count(*) from fd_subway_region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_subway_region
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subwayId != null" >
        subway_id = #{record.subwayId,jdbcType=INTEGER},
      </if>
      <if test="record.regionId != null" >
        region_id = #{record.regionId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_subway_region
    set id = #{record.id,jdbcType=INTEGER},
      subway_id = #{record.subwayId,jdbcType=INTEGER},
      region_id = #{record.regionId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangdong.business.model.FdSubwayRegion" >
    update fd_subway_region
    <set >
      <if test="subwayId != null" >
        subway_id = #{subwayId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangdong.business.model.FdSubwayRegion" >
    update fd_subway_region
    set subway_id = #{subwayId,jdbcType=INTEGER},
      region_id = #{regionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>