<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangdong.business.mapper.FdHouseMapper" >
  <resultMap id="BaseResultMap" type="com.fangdong.business.model.FdHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="house_detail" property="houseDetail" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="property_rights" property="propertyRights" jdbcType="INTEGER" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="rent_price" property="rentPrice" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="hall" property="hall" jdbcType="INTEGER" />
    <result column="room" property="room" jdbcType="INTEGER" />
    <result column="facilities" property="facilities" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.fangdong.business.model.HouseVo" id="VoResultMap">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="house_detail" jdbcType="VARCHAR" property="houseDetail" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="property_rights" property="propertyRights" jdbcType="INTEGER" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="hall" property="hall" jdbcType="INTEGER" />
    <result column="room" property="room" jdbcType="INTEGER" />    
    <result column="rent_price" property="rentPrice" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR"/>
    <result column="city" property="city" jdbcType="VARCHAR"/>
    <result column="district" property="district" jdbcType="VARCHAR"/>
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="facilities" property="facilities" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, owner_id, create_date, size, title, house_detail, address, property_rights, house_type, 
    rent_price, region_id, hall, room, facilities
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fangdong.business.model.FdHouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="VoResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fd_house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectHouseVoByPrimaryKey" resultMap="VoResultMap" parameterType="java.lang.Integer">
  	select 
    h.id, h.owner_id, h.create_date, h.size, h.hall,h.room,h.title, h.house_detail, h.address, h.property_rights, 
    h.house_type, h.rent_price, h.region_id,h.facilities,r1.region_name as 'area',r2.region_name as 'district',r3.region_name as 'city'
    from fd_house h 
    left join fd_region r1 on h.region_id = r1.id
    left join fd_region r2 on r1.parent_reg_id=r2.id
    left join fd_region r3 on r2.parent_reg_id=r3.id
    where h.id=#{id}
  </select>
    <select id="selectAllHouseVo" resultMap="VoResultMap">
	SELECT
	h.id,
	h.owner_id,
	h.create_date,
	h.size,
	h.hall,
	h.room,
	h.house_detail,
	h.address,
	h.property_rights,
	h.house_type,
	h.rent_price,
	h.region_id,
	h.title,
	h.facilities,
	u.username AS 'owner',
	r.region_name AS 'area'
	FROM
	fd_house h
	LEFT JOIN fd_user u ON h.owner_id = u.id
	LEFT JOIN fd_region r ON h.region_id = r.id
  </select>
  <select id="selectHouseVoByParam" parameterType="com.fangdong.business.model.SearchParam" resultMap="VoResultMap">
	SELECT
	h.id,
	h.owner_id,
	h.create_date,
	h.size,
	h.hall,
	h.room,
	h.house_detail,
	h.address,
	h.property_rights,
	h.house_type,
	h.rent_price,
	h.region_id,
	r1.region_name AS 'area',
	r2.region_name AS 'district'
	FROM
	fd_house h
	LEFT JOIN fd_region r1 ON h.region_id = r1.id
	LEFT JOIN fd_region r2 ON r1.parent_reg_id = r2.id
	<where>
		<if test="districtId != null">
			r2.id=#{districtId}
		</if>
		<if test="lowerPrice != null">
			and h.rent_price &gt;=#{lowerPrice}
		</if>
		<if test="upperPrice != null">
			and h.rent_price &lt;=#{upperPrice}
		</if>
		<if test="roomNum != null">
			and h.room=#{roomNum}
		</if>
		<if test="hallNum != null">
			and h.hall=#{hallNum}
		</if>
		
	</where>
	
  </select>
  <select id="selectByKey" parameterType="String" resultMap="VoResultMap">
	select
	h.id, h.owner_id, h.create_date, h.size, h.hall,h.room, h.house_detail,
	h.address, h.property_rights,
	h.house_type, h.rent_price, h.region_id,r1.region_name as 'area',r2.region_name as
	'district',r3.region_name as 'city'
	,u.username as 'owner'
	from fd_house h
	left join fd_region r1 on h.region_id = r1.id
	left join fd_region r2 on r1.parent_reg_id=r2.id
	left join fd_region r3 on r2.parent_reg_id=r3.id
	left join fd_user u on h.owner_id=u.id
	where r1.region_name like "%"#{key}"%"
	or  r2.region_name like "%"#{key}"%"
	or  r3.region_name like "%"#{key}"%"
	or 	h.house_detail like "%"#{key}"%"
	or 	h.address like "%"#{key}"%"
  </select>
  <select id="selectTopHouseVo" parameterType="map" resultMap="VoResultMap">
  	select 
    h.id, h.owner_id, h.create_date, h.size, h.hall,h.room, h.house_detail, h.address, h.property_rights, 
    h.house_type, h.rent_price, h.region_id,r1.region_name as 'area',r2.region_name as 'district',r3.region_name as 'city'
    from fd_house h 
    left join fd_region r1 on h.region_id = r1.id
    left join fd_region r2 on r1.parent_reg_id=r2.id
    left join fd_region r3 on r2.parent_reg_id=r3.id
    where r3.id=#{regionId}
    limit 0,#{top};
  </select>
  <select id="selectGuessYouLike" parameterType="String" resultMap="VoResultMap">
	SELECT
	h.id,
	h.owner_id,
	h.create_date,
	h.size,
	h.hall,
	h.room,
	h.house_detail,
	h.address,
	h.property_rights,
	h.house_type,
	h.rent_price,
	h.region_id,
	r1.region_name AS 'area',
	r2.region_name AS 'district'
	FROM
	fd_house h
	LEFT JOIN fd_region r1 ON h.region_id = r1.id
	LEFT JOIN fd_region r2 ON r1.parent_reg_id = r2.id
	WHERE
	r2.region_name = #{district}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangdong.business.model.FdHouseExample" >
    delete from fd_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangdong.business.model.FdHouse" >
    insert into fd_house (id, owner_id, create_date, 
      size, title, house_detail, 
      address, property_rights, house_type, 
      rent_price, region_id, hall, 
      room, facilities)
    values (#{id,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}, 
      #{size,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{houseDetail,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{propertyRights,jdbcType=INTEGER}, #{houseType,jdbcType=VARCHAR}, 
      #{rentPrice,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, #{hall,jdbcType=INTEGER}, 
      #{room,jdbcType=INTEGER}, #{facilities,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangdong.business.model.FdHouse" >
    insert into fd_house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="houseDetail != null" >
        house_detail,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="propertyRights != null" >
        property_rights,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="rentPrice != null" >
        rent_price,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="hall != null" >
        hall,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="facilities != null" >
        facilities,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="houseDetail != null" >
        #{houseDetail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="propertyRights != null" >
        #{propertyRights,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="rentPrice != null" >
        #{rentPrice,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="hall != null" >
        #{hall,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        #{room,jdbcType=INTEGER},
      </if>
      <if test="facilities != null" >
        #{facilities,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangdong.business.model.FdHouseExample" resultType="java.lang.Integer" >
    select count(*) from fd_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_house
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ownerId != null" >
        owner_id = #{record.ownerId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.houseDetail != null" >
        house_detail = #{record.houseDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyRights != null" >
        property_rights = #{record.propertyRights,jdbcType=INTEGER},
      </if>
      <if test="record.houseType != null" >
        house_type = #{record.houseType,jdbcType=VARCHAR},
      </if>
      <if test="record.rentPrice != null" >
        rent_price = #{record.rentPrice,jdbcType=INTEGER},
      </if>
      <if test="record.regionId != null" >
        region_id = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.hall != null" >
        hall = #{record.hall,jdbcType=INTEGER},
      </if>
      <if test="record.room != null" >
        room = #{record.room,jdbcType=INTEGER},
      </if>
      <if test="record.facilities != null" >
        facilities = #{record.facilities,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_house
    set id = #{record.id,jdbcType=INTEGER},
      owner_id = #{record.ownerId,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=DATE},
      size = #{record.size,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      house_detail = #{record.houseDetail,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      property_rights = #{record.propertyRights,jdbcType=INTEGER},
      house_type = #{record.houseType,jdbcType=VARCHAR},
      rent_price = #{record.rentPrice,jdbcType=INTEGER},
      region_id = #{record.regionId,jdbcType=INTEGER},
      hall = #{record.hall,jdbcType=INTEGER},
      room = #{record.room,jdbcType=INTEGER},
      facilities = #{record.facilities,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangdong.business.model.FdHouse" >
    update fd_house
    <set >
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="houseDetail != null" >
        house_detail = #{houseDetail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="propertyRights != null" >
        property_rights = #{propertyRights,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="rentPrice != null" >
        rent_price = #{rentPrice,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="hall != null" >
        hall = #{hall,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=INTEGER},
      </if>
      <if test="facilities != null" >
        facilities = #{facilities,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangdong.business.model.FdHouse" >
    update fd_house
    set owner_id = #{ownerId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      size = #{size,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      house_detail = #{houseDetail,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      property_rights = #{propertyRights,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=VARCHAR},
      rent_price = #{rentPrice,jdbcType=INTEGER},
      region_id = #{regionId,jdbcType=INTEGER},
      hall = #{hall,jdbcType=INTEGER},
      room = #{room,jdbcType=INTEGER},
      facilities = #{facilities,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>